.trainingEl[b-g1tnte2hg6] {
    height: 100px;
    opacity: 0.8;
    position: absolute;
    /*width: 15%;*/
    border-radius: 5px;
    color: white;
    padding: 5px 0 5px 15px ;
/*TODO: look here*/
}

th[b-g1tnte2hg6] {
    text-align: center;
}

    th.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
        color: lightgrey
    }

td[b-g1tnte2hg6] {
    border-bottom: 1px solid grey;
    vertical-align: top;
    text-align: left;
    height: 50px;
}

.time[b-g1tnte2hg6] {
    width: 5%
}

.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
    width: 10%
}

.wo[b-g1tnte2hg6], .vrij[b-g1tnte2hg6], .zo[b-g1tnte2hg6] {
    width: 15%
}



.belsele[b-g1tnte2hg6] {
    background-color: gold;
    color: black;
}

.stniklaas[b-g1tnte2hg6] {
    background-color: royalblue;
    color: white;
}



.duur-90[b-g1tnte2hg6] {
    height: 74px;
}

.duur-210[b-g1tnte2hg6] {
    height: 175px;
}

.half[b-g1tnte2hg6] {
    margin-top: 25px;
}

.kwart[b-g1tnte2hg6] {
    margin-top: 12px;
}
